.root{
    -fx-background-color: white;

}

.JFXRoundedButton
{

    -fx-background-radius: 50%;
    -fx-orientation: vertical;
    -fx-content-display: top;
    -fx-background-color: #00e2c7;
    -fx-button-type: RAISED;
    /*#00c4ad*/
}
.JFXButtonLogHours
{
    -fx-graphic:url("../Images/save-white.png");
    -fx-background-color: #00c4ad;
}
.JFXButtonSeeInfo
{
    -fx-graphic:url("../Images/info-white.png");

    /*#00d8bf;*/
}
.popup{

    -fx-border-style: solid inside;
    -fx-border-width: 3px;
    -fx-border-color: Black;
    -fx-border-radius:20px;
    -fx-background-radius:20px
}
.text-area .content
{
    -fx-background-color: #FAFAFA;
}

.jfx-snackbar-content{
    -fx-background-color:#00e2c7;
    -fx-border-style: solid solid hidden solid ;
    -fx-border-width: 2px;
    -fx-border-color: Black;
    -fx-border-radius:5 5 5 5;
    -fx-background-radius:5 5 5 5;
    /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
}
.jfx-snackbar-toast{
    -fx-font: bold 20px/30px System;
    -fx-text-fill: #FFFFFF;
}
.darkenedBackground{
    -fx-background-color: rgba(0,0,0,.5)
}

.logintextAndFontLabels{
    -fx-font: bold 22px/30px System;
    -fx-text-fill: #353535;
}
.logintextFields
{
    -fx-font:Bold 18px/30px System;
    -fx-text-fill: #353535;
}
.loginbuttons{
    -fx-background-radius: 5px;
    -fx-background-color: #00e2c7;
    -fx-font:italic bold 20px/30px System;
    -fx-text-fill: #FFFFFF;
}.cancelButtons{
    -fx-background-radius: 5px;
    -fx-background-color: #5C5858;
    -fx-text-fill: #FFFFFF;
}

.loginwindow{
    -fx-background-color: #ffffff;
    -fx-border-color: #00e2c7;
    -fx-border-radius: 19px;
    -fx-border-width: 5px;
    -fx-background-radius: 22px;
}
.loadingScreen{
    -fx-background-color: rgba(150,150,150,0.5);

}

/*TreeTableView*/
.tree-table-view{
    -fx-tree-table-color: rgba(0, 196, 173, 0.8);
    -fx-tree-table-rippler-color : rgba(255, 0, 0, 0.9); 
}
.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color  ;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    -fx-background-color:#B0B0B0;
}


.tree-table-view .column-header .label {
    -fx-text-fill : white;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{ 
    -fx-background-color : #404040;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-border-color:#B0B0B0;
}

.tree-table-view .tree-table-cell{
    -fx-border-width:0 0 0 0;
    /*-fx-padding : 16 0 16 0 ;*/
}

.tree-table-view .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*-fx-padding: 1;8*/
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgba(240,40,40);
}

.col{
    -fx-alignment: CENTER;
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #404040;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #00c4ad;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #00c4ad;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #000000;
    -fx-stroke-width: 3pt;
}
.jfx-tab-pane .tab:selected {
    -fx-background-color: #029e99;
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #E6E6E6;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

#higherClearanceBtn{
    -fx-background-color: #00c4ad;
    -fx-text-fill: rgb(255, 255, 255);
    -jfx-button-type: RAISED;
}


